<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "RozetkaSuite" thread-count="4" data-provider-thread-count="4">
    <listeners>
        <listener class-name="testlisteners.TestNGListener" />
    </listeners>
    <test name = "testSuiteRozetka">
        <classes>
            <class name="labTest.SumVerifyTest"/>
            <class name="labTest.WrongSumVerifyTest"/>
        </classes>
    </test>
</suite>
